// Cores
$bg-color-01: #86ACD5;
$bg-color-02: #EBEBEB;
$bg-color-03: #000;
$text-color-01: #000;
$text-color-02: #356497;
$text-color-03: #EBEBEB;

// Telas
$mobile: 375px;
$tablet: 768px;
$laptop: 1024px;
$notebook: 1325px;
$desktop-sm: 1680px;
$desktop-md: 1920px;
$desktop-lg: 2560px;